<% include partials/header.ejs %>

<main>

    <h1>We're Sorry</h1>

    <section>
        Your request could not be completed.  Please try again.
    </section>

</main>

<% include partials/footer.ejs %>